<!--
  File Name: footer.ejs
  Developer Name: Fu Liang
  Student ID: 301323706
  Date : 3 Feb, 2023
  File Function: the common footer ejs partial for all views
-->

<!-- Script Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>