<div class="container text-right pt-5 px-0 pb-5">
    <h3 class="mb-5"><u>HSCB's BusinessGo (07/2019 - 07/2020)</u></h3>
    <div class="container text-right" style="padding: 0">
        <div class="row g-2">
            <div class="col-6" style="background-color: grey;">
                <div class="p-3" style="margin-top: 6%;">
                    <div class="container text-right">
                        <div class="row row-cols-2" style="color: white;">
                            <div class="col-3 px-0 py-2 text-center">Title: </div>
                            <div class="col-9 px-3 py-2">Full Stack Web Developer</div>
                            <div class="col-3 px-0 py-2 text-center" style="position: relative; right: 22px">Tech Stack:</div>
                            <div class="col-9 px-3 py-2">React + Node.js + Express + SQL Sever</div>
                            <div class="col-3 px-0 py-2 text-center" style="position: relative; right: 22px">Experience: </div>
                            <div class="col-9 px-0 py-2">
                                <ul>
                                    <li>
                                        Joined an agile team developing this global bank commercial client communication platform as a full stack developer
                                    </li>
                                    <li>
                                        built the Nodejs Reactjs Azure-based web system, and related test suite
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/visiongo1.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/visiongo2.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/visiongo3.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- project 2  -->

<div class="container text-right pt-5 px-0 pb-5">
    <h3 class="mb-5"><u>Cathay Pacific's Air Cargo Operator Job Assignment Optimization System (08/2020 - 06/2022)</u></h3>
    <div class="container text-right" style="padding: 0">
        <div class="row g-2">
            <div class="col-6" style="background-color: grey;">
                <div class="p-3" style="margin-top: 12%;">
                    <div class="container text-right">
                        <div class="row row-cols-2" style="color: white;">
                            <div class="col-3 px-0 py-2 text-center">Title: </div>
                            <div class="col-9 px-3 py-2">Full Stack Web Developer</div>
                            <div class="col-3 px-0 py-2 text-center" style="position: relative; right: 22px">Tech Stack:</div>
                            <div class="col-9 px-3 py-2">React + DJANGO + PYTHON + SQL Sever</div>
                            <div class="col-3 px-0 py-2 text-center" style="position: relative; right: 22px">Experience: </div>
                            <div class="col-9 px-0 py-2">
                                <ul>
                                    <li>
                                        joined the system team developing the web-application module of the project as a full-stack developer
                                    </li>
                                    <li>
                                        built the Django Reactjs web system, and related test suite 
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <!-- <p> Title: Full Stack Web Developer </p>
                    <p> Tech Stack: React + Node.js + Express + SQL Sever </p>
                    <p> Experience: joined an agile team developing this global bank commercial client communication platform as a full stack developer
built the Nodejs Reactjs Azure-based web system, and related test suite  </p> -->
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/Optix2.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/Optix1.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/Optix3.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- project 3  -->


<div class="container text-right pt-5 px-0" style="padding-bottom: 100px;">
    <h3 class="mb-5"><u>Chow Sang Sang International Limited's Demand Control Tower System (06/2022- present)</u></h3>
    <div class="container text-right" style="padding: 0">
        <div class="row g-2">
            <div class="col-6" style="background-color: grey;">
                <div class="p-3" style="margin-top: 10%">
                    <div class="container text-right">
                        <div class="row row-cols-2" style="color: white;">
                            <div class="col-3 px-0 py-2 text-center">Title: </div>
                            <div class="col-9 px-3 py-2">Full Stack Web Developer</div>
                            <div class="col-3 px-0 py-2 text-center" style="position: relative; right: 22px">Tech Stack:</div>
                            <div class="col-9 px-3 py-2">React + Node.js + Express + SQL Sever</div>
                            <div class="col-3 px-0 py-2 text-center" style="position: relative; right: 22px">Experience: </div>
                            <div class="col-9 px-0 py-2">
                                <ul>
                                    <li>
                                        carry out business analysis and requirement modeling
                                    </li>
                                    <li>
                                        built the AI-User interface web application
                                    </li>
                                    <li>
                                        maintain CI/CD work flow  
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <!-- <p> Title: Full Stack Web Developer </p>
                    <p> Tech Stack: React + Node.js + Express + SQL Sever </p>
                    <p> Experience: joined an agile team developing this global bank commercial client communication platform as a full stack developer
built the Nodejs Reactjs Azure-based web system, and related test suite  </p> -->
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/Css1.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/Css2.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
            <div class="col-6">
                <div class="p-0">
                    <img src="/images/Css3.png" class="img-thumbnail" style="border: none">
                </div>
            </div>
        </div>
    </div>
</div>